@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-stable {
	scrollbar-gutter: stable both-edges
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    opacity: 0;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(124, 124, 124, 0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgb(94, 94, 94);
}

.max-w-20 {
	max-width: 5rem;
}

.tooltip > .tooltip-text {
	display: none;
}

.tooltip:hover > .tooltip-text {
	display: block;
}